:root {
  --orange: #f14e32;
  --orange-darker-5: #ef391a;
  --blue: #009099;
  --font-color: #4e443c;
  --aside-font-color: #887668;
  --light-font-color: #9a9994;
  --light-font-color-darker-10: #81807a;
  --light-font-color-darker-25: #5a5955;
  --light-font-color-darker-35: #403f3c;
  --light-font-color-darker-55: #0b0b0a;
  --light-font-color-lighter-20: #cccbc8;
  --link-color: #0388a6;
  --nav-link-color: #413932;
  --link-hover-color: #04b1d8;
  --fixed-width-font-color: #4e443c;
  --button-bg-color: #dfddd554;
  --button-bg-hover-color: #fafafae5;
  --button-color: #0388a6;
  --mark-bg-color: #ff0;
  --mark-color: #000;
  --base-border-color: #d8d7cf;
  --base-border-color-darker-8: #c6c4b8;
  --base-border-color-lighter-10: #efeeeb;
  --callout-color: #e9e8e0;
  --highlight-bg-color: #eee0b5;
  --pre-border: #efeee6;
  --black-3: #333333;
  --main-bg: #fcfcfa;
  --main-border: #e2e0d8;
  --sidebar-bg-color: #efefe7;
  --sidebar-toc-bg-color: #f7f7f3;
  --bg-color: #f0efe7 url('./images/body.jpg');
  --no-changes-bg-color: #f5f5f3;
  --dropdown-active-bg-color: #fff;
  --versions-footer-bg-color: #eae9e0;
  --search-border: #ceccc5;
  --search-focus-border: #007175;
  --logos-1: #a6a7a1;
  --logos-2: #90908b;
  --logos-3: #767675;
  --logos-4: #696c69;
}

input,
textarea {
  font-family: Adelle, Roboto Slab, DejaVu Serif, Georgia, Times New Roman,
    sans-serif;
  font-size: 14px;
  outline: none;
}

@font-face {
  font-family: Adelle;
  src: url(./Font/Adelle\ Reg.otf);
}
@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: url(./Font/georgia.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}
body {
  background: var(--bg-color);
}
.header-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;
  padding: 16px 0;
  flex-flow: row wrap;
}

.header-container .logo img {
  width: 110px;
  height: 46px;
}

.logo,
.search-box,
nav {
  display: flex;
  align-items: center;
}
nav {
  margin-left: auto;
}

.logo .logo-title {
  font-size: 20.8px;
  margin-left: 0.8em;
  color: var(--light-font-color);
}
.search-box {
  width: 100%;
  padding-left: 32px;
  margin: 9px;
  background: url(./images/search@2x.png) 10px no-repeat;
  background-size: 17px 17px;
  background-color: var(--main-bg) !important;
  border: solid 1px var(--search-border);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 4px #ddd;
  -moz-box-shadow: inset 0 1px 4px #ddd;
  box-shadow: inset 0 1px 4px #ddd;
}
.search-box input {
  width: 238px;
  height: 20px;
  color: var(--font-color);
  background-color: transparent;
  border: 0;
  outline: none;
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 14px;
}
.color-mode img {
  width: 28px;
  height: 28px;
}

.color-mode {
  background-color: transparent;
  border: none;
  margin-left: 4px;
}

/* hero aerea here  */

.hero-container {
  height: 294px;
  width: 100%;
  background-image: url('./images/isometric-grid@2x.png');
  background-size: 35px 21px;
  margin-bottom: 28px;
}

.inner {
  max-width: 940px;
  margin: 0 auto;
}

.hero-container {
  overflow: hidden;
}
.hero-area {
  position: relative;
}

.hero-text {
  padding-top: 20px;
}
.hero-area .hero-text p {
  margin-bottom: 1.2em;
  font-size: 18px;
  line-height: 26.4px;
  font-weight: 300;
  color: var(--font-color);

  width: 558px;
}
.hero-banner {
  position: absolute;
  top: 28px;
  right: -30px;
}
main {
  display: flex;
}

.navigation {
  border-right: solid 1px var(--base-border-color);
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 24px;
  max-width: 600px;
  position: relative;
  margin-right: 20px;
  gap: 10px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.navigation ul a {
  display: flex;
  width: 285px;
  align-items: center;
  margin-bottom: 10px;
}

.navigation ul a img {
  transition-duration: 0.3s;
  transition-property: opacity;
  opacity: 0.4;
  width: 78px;
  height: 78px;
  background-color: #cdcdc5;
  border-radius: 40%;
  padding: 18px;
}

.navigation ul a h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--orange);
  margin: -4px 0px 11px 17px;
}

.navigation ul a p {
  font-size: 13px;
  line-height: 17.6px;
  color: var(--font-color);
  margin-left: 15px;
}
.download-navigation {
  background: url(./images/monitor-windows@2x.png) no-repeat;
  background-size: 313px 271px;
  width: 300px;
  height: 400px;
  margin-left: 20px;
  position: relative;
}
.download-navigation .monitor {
  position: absolute;
  top: 45px;
  left: 42px;
}
.monitor h4 {
  font-weight: 400;
  color: var(--main-bg);
  font-size: 16px;
}
.monitor span.version {
  display: block;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 700;
  color: #eee;
}
.monitor a {
  color: #eee;
  font-size: 12px;
  text-decoration: underline;
}
.monitor span.release-date {
  font-size: 12px;
}

.monitor a.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #148a92;
  -moz-box-shadow: 0 1px 0 #148a92;
  box-shadow: 0 1px #148a92;
  display: block;
  width: 224px;
  padding: 5px 0;
  margin-top: 10px;
  font-size: 16px;
  color: var(--main-bg);
  text-align: center;
  background-image: linear-gradient(#1c868c, #186368);
  border-top: solid 1px #085e64;
  border-right: solid 1px #1f6367;
  border-bottom: solid 1px #134143;
  border-left: solid 1px #1f6367;
  transition-duration: 0.3s;
  transition-property: background-image;
  text-decoration: none;
}

.download-navigation table {
  position: absolute;
  top: 300px;
}
.download-navigation table td {
  padding: 8px 20px 6px 0;
  min-width: 145px;
}
table a.icon {
  display: inline-block;
  height: 30px;
  padding-left: 30px;
  line-height: 36px;
}
table a.icon.gui {
  background: url(http://git-scm.com//images/icons/gui@2x.png) 6px 3px no-repeat;
  background-size: 18px 24px;
}

table a.icon.older-releases {
  background: url(http://git-scm.com//images/icons/box.png) 0 6px no-repeat;
  background-size: 22px 20px;
}

table a.icon.mac {
  background: url(http://git-scm.com//images/icons/apple.png) 5px 4px no-repeat;
  background-size: 17px 21px;
}

table a.icon.source {
  background: url(http://git-scm.com//images/icons/source-code.png) 0 6px
    no-repeat;
  background-size: 25px 20px;
}
.extra-navigation {
  border-top: solid 1px var(--base-border-color);
  padding-top: 20px;
  width: 590px;
  margin-bottom: 40px;
}

.extra-navigation img {
  float: left;
  margin-right: 20px;
}

.extra-navigation p {
  margin-top: 16px;
}

.footer-container {
  margin-top: 35px;
}
footer {
  border-top: solid 1px var(--base-border-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 12px;
  line-height: 15.4px;
  color: var(--light-font-color);
}
footer a {
  color: var(--light-font-color-darker-35);
}
@media (max-width: 1020px) {
  .header-container header {
    padding: 16px;
  }
  .hero-area {
    display: flex;
  }
  .hero-banner {
    position: unset;
  }
  .hero-area .hero-text p {
    width: unset;
  }
  .hero-text {
    padding: 16px;
  }
  .front-navigation {
    width: 50%;
    display: block;
    padding: 24px;
  }

  .extra-navigation {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .logo {
    order: -2;
  }
  .color-mode {
    order: -1;
  }
  nav {
    flex-grow: 1;
  }
  .hero-area {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .hero-container {
    height: fit-content;
  }
  .hero-banner {
    width: 80%;
  }
  .hero-banner img {
    height: 100%;
    width: 100%;
  }
  main {
    flex-flow: column-reverse;
  }
  .front-navigation {
    flex-grow: 1;
    width: 100%;
  }
  .navigation ul,
  .navigation {
    width: 100%;
    display: block;
  }
  .download-navigation {
    align-self: center;
  }
  .navigation {
    border-top: solid 1px var(--base-border-color);
    border-right: none;
  }
  footer {
    flex-flow: column;
    align-items: center;
  }
}
